html {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
}

main {
  padding-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 48.75rem;
}
