*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid rgba(230, 230, 230, 1);
  /* 64px */
  margin-bottom: 6.4rem;
  /* 16px */
  margin-top: 1.6rem;
  /* 32px 16px 32px 16px */
  padding: 3.2rem 1.6rem 3.2rem 1.6rem;
  text-transform: uppercase;
  width: var(--content-width);
}

header > span.header__title {
  display: inline-block;
  font-size: var(--text-xl);
  font-weight: 400;
  line-height: 1.3;
}

main {
  /* 64px */
  padding-bottom: 6.4rem;
  /* 16px */
  padding-left: 1.6rem;
  /* 16px */
  padding-right: 1.6rem;
  width: var(--content-width);
}

img {
  max-width: 100%;
  display: block;
}
