h1.home__title {
  font-family: "Volkhov";
  font-size: var(--text-6xl);
  font-weight: 400;
}

p.home__subtitle {
  font-size: var(--text-2xl);
}

@media (max-width: 640px) {
  h1.home__title {
    font-size: var(--text-5xl);
  }

  p.home__subtitle {
    font-size: var(--text-xl);
  }
}
