html {
  font-size: 62.5%;
}

body {
  font-size: var(--text-lg);
  line-height: 1.54;
  color: var(--text-color);
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
  font-variant-ligatures: contextual;
  font-family: "IBM Plex Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  font-weight: 500;
}

h1 {
  font-size: var(--text-4xl);
}

h2 {
  font-size: var(--text-3xl);
}

h3 {
  font-size: var(--text-2xl);
}

h4 {
  font-size: var(--text-xl);
}

h5 {
  font-size: var(--text-lg);
}

p {
  font-size: var(--text-lg);
}

* + h1,
* + h2 {
  margin-top: 8rem;
}

* + h3,
* + h4,
* + h5 {
  margin-top: 4.8rem;
}

* + p {
  margin-top: 3.2rem;
}

hr {
  margin-bottom: 3.2rem;
  margin-top: 3.2rem;
}

h2 + p,
h3 + p,
h4 + p {
  margin-top: 1.6rem;
}

h1 + * {
  margin-top: 6.4rem;
}

@media (max-width: 640px) {
  * + h1,
  * + h2 {
    margin-top: 7rem;
  }

  * + h3,
  * + h4,
  * + h5 {
    margin-top: 4.2rem;
  }

  * + p {
    margin-top: 2.8rem;
  }

  hr {
    margin-bottom: 2.8rem;
    margin-top: 2.8rem;
  }

  h2 + p,
  h3 + p,
  h4 + p {
    margin-top: 1.4rem;
  }

  h1 + * {
    margin-top: 5.6rem;
  }
}
