:root {
  /* Colors */
  --accent-color: #0074d9;
  --background-color: #fffffe;
  --color: rgb(41, 41, 41);

  /* Layout */

  /* 780px */
  --content-width: 78rem;

  /* Typography */

  /* 12px */
  --text-xs: 1.2rem;

  /* 14px */
  --text-sm: 1.4rem;

  /* 16px */
  --text-base: 1.6rem;

  /* 18px */
  --text-lg: 1.8rem;

  /* 20px */
  --text-xl: 2rem;

  /* 24px */
  --text-2xl: 2.4rem;

  /* 30px */
  --text-3xl: 3rem;

  /* 36px */
  --text-4xl: 3.6rem;

  /* 48px */
  --text-5xl: 4.8rem;

  /* 80px */
  --text-6xl: 8rem;
}
