---
layout: base.njk
title: Home
permalink: /
---

<h1 class="home__title">Technics and Human Development: Extracts</h1>
<p class="home__subtitle">Selected extracts and paraphrases from the book Technics and Human Developement (The Myth of the Machine Volume One) from Lewis Mumford.</p>